
:root {
	/*Fonts*/
	--font-1: Consolas, monaco, monospace;

	/*Background colors*/
	--color-bg-1: #161616;
	--color-bg-2: #232323;
	--color-bg-3: #404040;

	/*Text colors*/
	--color-text-1: #999999;
	--color-text-2: #f2f2f3;
	--color-text-3: #FFD369;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	/*Chess Board*/
	--chess-light: #639e61;
	--chess-dark: #3f835c;
	/*Defaults*/
	font-family: var(--font-1);
	color: var(--color-text-2);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
}